	<!DOCTYPE html>
	<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
	<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Ellen Dykes | {{ entry.title }}</title>
		<meta name="description" content="Ellen Dykes is a web designer and developer with a passion for problem-solving with thoughtful design and code." />

		<meta name="keywords" content="ellen, dykes, graphic, design, web, web design, web development, developer, portfolio, craft, marketing, front end developer" />

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" href="/favicon.png"/>

		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
		<script src="/js/modernizr-2.6.2.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	
		<style type="text/css">
			.project-hero {
				background: url('{% for img in entry.hero_image %}{{ img.url() }}{% endfor %}'
				) center;
				background-position: center;
				background-attachment: fixed;
				height: 100%;
				background-repeat: no-repeat;
				background-size: cover;
				z-index: 1;
			}

			@media screen and (max-width: 767px) {
				body {
					padding-top: 65px;
				}
				.project-hero {
					display: none;
				}
        
    }


		</style>

	</head>
	<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="nav-project">
	<div class="container">
		<div class="logo-banner">
			<a href="{{ siteUrl }}"><img src="/img/logo-banner.svg" alt="Ellen Dykes logo"></a>
		</div>
		<div class="top">
			<ul>
				<li>
					<a href="https://dribbble.com/ellen_dykes" target="_blank">
						<img src="/img/social/dribbble.svg" alt="dribbble icon">
					</a>
				</li>
				<li>
					<a href="https://twitter.com/ellen_dykes" target="_blank">
						<img src="/img/social/twitter.svg" alt="twitter icon">
					</a>
				</li>
			
				<li>
					<a href="https://www.linkedin.com/in/ellendykes" target="_blank">
						<img src="/img/social/linkedin.svg" alt="linkedin icon">
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

{% block content %}

{% endblock %}



<footer class="panels">
	<div class="container">
		<div class="logo-bottom">
			<p class="fine-print">&copy; Ellen Dykes,
				<script type="text/javascript">
					var year = new Date();document.write(year.getFullYear());
				</script>. All rights reserved.
			</p>
		</div>

		<div class="logo-bottom">
			<p class="mail"><a href="mailto:howdy@ellendykes.com?Subject=Hello!">howdy@ellendykes.com</a></p>
		</div>


		<div class="logo-bottom">
			<p class="fine-print right">
				Built with <a href="https://buildwithcraft.com/" target="">Craft</a>
			</p>
		</div>
		</div><!--footer container-->
</footer>


<script src="/js/script.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-10332413-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
